<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="ERPContext" connectionString="Data Source=.;Database=SysERP;UID=sa;PWD=123;" providerName="System.Data.SqlClient"></add>
    <add name="ReportContext" connectionString="Data Source=10.100.100.127;Database=SysReport;UID=sa;PWD=123;" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ftpUrl" value="10.100.100.176" />
    <add key="ftpPort" value="22" />
    <add key="ftpPath" value="home/n5-001" />
    <add key="ftpUser" value="67598" />
    <add key="ftpFileName" value=".TAR" />
    <add key="ftpPwd" value="ranchian.321" />
    <add key="localPath" value="SFtpFiles" />
    <add key="uploadFtpUrl" value="ftp://10.100.100.176" />
    <add key="uploadFtpPort" value="22" />
    <add key="uploadFtpPath" value="upload" />
    <add key="uploadFtpUser" value="67598" />
    <add key="uploadFtpPwd" value="ranchian.321" />
  </appSettings>
</configuration>