@model THH.Model.Dto.GoodsDto

@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm("Add", "Goods", FormMethod.Post))
{
<div style=" margin:15px; border:1px">
    <div class="form-group">
        <label for="name">商品名称</label>
        @*<input type="text" class="form-control" id="UserName" placeholder="请输入商品名称" required>*@
        @Html.TextBoxFor(m => m.GoodsName, new { @class = "form-control", placeholder = "请输入商品名称", required = "required" })
    </div>
    <div class="form-group">
        <label for="name">原价</label>
        @*<input type="text" class="form-control" id="LoginName" placeholder="请输入商品原价" required>*@
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "请输入商品原价", required = "required" })
    </div>
    <div class="form-group">
        <label for="name">会员价</label>
        @*<input type="text" class="form-control" id="Email" placeholder="请输入会员价" required>*@
        @Html.TextBoxFor(m => m.VipPrice, new { @class = "form-control", placeholder = "请输入会员价", required = "required" })
    </div>
    <div class="form-group">
        <label for="name">是否上架</label>
        <select name="ifShelves" id="ifShelves" class="form-control" label="State:" labelPosition="top" style="width:100%;">
            <option value="1">是</option>
            <option value="0">否</option>
        </select>
    </div>
    <div class="form-group">
        <label for="name">是否促銷</label>
        @*@Html.ListBoxFor(m=>m.IfPromotion , new { @class = "form-control" })*@
        <select name="IfPromotion" id="ifPromotion" class="form-control" label="State:" labelPosition="top" style="width:100%;">
            <option value="1">是</option>
            <option value="0">否</option>
        </select>
    </div>
    <div class="form-group">
        <label for="name">簡介</label>
        @*<input type="text" class="form-control" id="Introduction" placeholder="请输入簡介" required>*@
        @Html.TextBoxFor(m => m.Introduction, new { @class = "form-control", placeholder = "请输入簡介", required = "required" })
    </div>
    <div>
        <button type="submit" style="width: 100%;" class="btn btn-primary">提交</button>
    </div>
</div>
        }
        <script>
            $().ready(function () {
                // 在键盘按下并释放及提交后验证提交表单
                $("form").validate({
                    //messages: {
                    //    UserName: {
                    //        required: "请输入用户名",
                    //        //   minlength: "用户名必需由两个字母组成"
                    //    },
                    //    Password: {
                    //        required: "请输入密码",
                    //        minlength: "密码长度不能小于 5 个字母"
                    //    },
                    //    LoginName: {
                    //        required: "请输入登录账号",
                    //        minlength: "密码长度不能小于 5 个字母",
                    //    },
                    //    Email: {
                    //        required: "请输入密码",
                    //        minlength: "密码长度不能小于 5 个字母",
                    //    }
                    //}
                });
            });
        </script>
